<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>ESLint Bundle</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{cssMain}}" type="text/css">
</head>
<body>

  <header>
    <h1><span class="eslint-logo"><img src="{{eslintLogo}}"> ESLint <span class="eslint-version" title="{{eslintPath}}">v{{eslintVersion}}</span></span></h1>
    <p class="meta"><b>{{issueCount}} issue{{#isPlural}}s{{/isPlural}}</b> found in {{filepathRel}} in {{time}}</p>
  </header>

  <main>

    <ol class="issues">

    {{#messages}}

			<li class="issue severity-{{this.severity}}" data-index="{{this.count}}" data-file="txmt://open?url=file://{{../filepathAbs}}&line={{this.line}}&column={{this.column}}">

          <p class="details">
            <span class="line">
              <span class="row">{{this.line}}</span>:<span class="column">{{this.column}}</span>
            </span>
            <span class="message">{{{this.messageHTML}}}</span>
          </p>

          <pre class="source" data-pointer="{{this.pointer}}">{{this.source}}</pre>

          {{#unless this.ruleId }}
            <p class="rule-id">Rule: none</p>
          {{else}}
            <p class="rule-id">Rule:
              {{#unless this.isESLintRule }}
                {{this.ruleId}}
              {{else}}
                <a href="http://eslint.org/docs/rules/{{this.ruleId}}" title="Open docs for {{this.ruleId}}">{{this.ruleId}}</a>
              {{/unless}}
            </p>
          {{/unless}}

			</li>

  	{{/messages}}

    </ol>

  </main>

  <footer>
    <p><a href="http://eslint.org/" title="ESLint - Pluggable JavaScript linter">ESLint</a> Copyright jQuery Foundation and other contributors, <a href="https://jquery.org/">https://jquery.org/</a></p>
  </footer>

  <script src="{{scriptMain}}"></script>

</body>
</html>